/*
 * Enable the Thingy:91 X onboard sensors used by the app demos.
 */

/ {
	aliases {
		accel0 = &accelerometer_hp;
		lds0 = &lds_esp32;
	};
};

&accelerometer_hp {
	status = "okay";
};

&bme680 {
	status = "okay";
};

&i2c2 {
	lds_esp32: lds@f {
		compatible = "i2c-device";
		reg = <0x0f>;
	};
};
